@import "tailwindcss";

@theme {
  --color-neo-green: #00E599;
  --color-neo-green-dark: #00cc88;
  --color-dark-bg: #111111;
  --color-dark-panel: #1A1A1A;
  --color-dark-border: #333333;
}

body {
  background-color: var(--color-dark-bg);
  color: #FFFFFF;
}
